APScheduler==3.11.0
asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
defusedxml==0.7.1
Django==4.2.19
django-allauth==0.54.0
django-apscheduler==0.7.0
django-filter==24.3
idna==3.10
oauthlib==3.2.2
pycparser==2.22
PyJWT==2.9.0
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.2
urllib3==2.2.3
